.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;

  .nut-textarea {
    border: rgba(100, 100, 100, 0.8) 2px solid;
    border-radius: 10px;
    height: 100%;
    flex-grow: 1;

    .nut-textarea__textarea {
      height: 100%;
    }

  }

  .nut-button {
    height: 100%;
    --nutui-button-border-radius: 10px;
  }
}
